@using CSACVM.Modelos.ViewModels
@model CSACVM.Modelos.ViewModels.CurriculumModelVM
@{
    Layout = null;
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/comunes.css" />
    <link rel="stylesheet" href="~/css/bootswatch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Informes/informes.css" asp-append-version="true" />
</head>
<body>
    <div class="row flexrow">
        <div class="col-3" style="border-right:groove">
            <div class="row text-center">
                @if (Model.Foto != "") {
                    var ruta = "/ImagenPerfilCV/" + Model.Foto.Split("/")[2];
                    <img class=" br-100" src="@ruta" style="width: 110px;height:120px">
                }else{
                    <img class=" br-100" src="/images/defaultUser.jpg" style="width: 110px;height:120px">
                }
                <div class="mt-2 row-12">
                    <label class="form-label fontInformeTitulos fw-bold">@Model.UsuarioCV.Nombre</label>
                    <label class="form-label fontInformeTitulos fw-bold">@Model.UsuarioCV.Apellido1</label>
                    <label class="form-label fontInformeTitulos fw-bold">@Model.UsuarioCV.Apellido2</label>
                </div>
                <div class="row">
                    <label class="form-label fontInforme">@Model.UsuarioCV.Profesion</label>
                </div>

            </div>
            <div class="row mt-3">
                <div class="row ">
                    <label class="form-label fontInforme">Fecha Nacimiento: @Convert.ToDateTime(Model.UsuarioCV.FechaNacimiento).ToShortDateString()</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="row ">
                    <h3 class="fontInformeTitulos fw-bold">Contacto</h3>
                </div>
                <hr class="w-75" @*style="outline-style: solid;"*@ />
                <div class="row flexrow">
                    <label class="form-label fontInforme">@Model.UsuarioCV.Email</label>
                    <label class="form-label fontInforme">Telf. @Model.UsuarioCV.Telefono</label>
                </div>
            </div>

            @if (Model.ListaIdiomaCV.Count > 0) {
                <div class="row mt-5 flexrow">
                    <h2 class="fontInformeTitulos fw-bold">Idiomas</h2>
                </div>
                <hr class="w-75" />
                foreach (var key in Model.DictIdiomasCV) {
                    <div class="row mt-2 flexrow">
                        <label class="form-label fontInformeApartado">@key.Key</label>
                        <label class="form-label fontInforme ms-2"> · Nivel: @key.Value</label>
                    </div>
                }
            }
            @if (Model.ListaAptitudCV.Count > 0 || Model.ListaLogroCV.Count > 0) {
                <div class="row mt-5 flexrow">
                    <h2 class="fontInformeTitulos fw-bold">Aptitudes y logros</h2>
                </div>
                <hr class="w-75" />
                foreach (AptitudCV aptitud in Model.ListaAptitudCV) {
                    <div class="row mt-2 flexrow">
                        <label class="form-label">@aptitud.Descripcion</label>
                    </div>
                }
                foreach (LogroCV logro in Model.ListaLogroCV) {
                    <div class="row mt-2 flexrow">
                        <label class="form-label">@logro.Descripcion</label>
                    </div>
                }
            }

        </div>
        <div class="col-8 ms-2">
            <div class="row mt-3">
                <h2 class="fontInformeTitulos fw-bold">Acerca de @Model.UsuarioCV.Nombre</h2>
            </div>
            <hr />
            <div class="row flexrow">
                <label class="form-label fontInforme">@Model.UsuarioCV.AcercaDe</label>
            </div>
            @if (Model.ListaEntradaCV.Count > 0) {
                <div class="row mt-5 flexrow">
                    <h2 class="fontInformeTitulos fw-bold">Experiencia laboral</h2>
                </div>
                <hr />
                foreach (EntradaCV entrada in Model.ListaEntradaCV) {
                    <div class="row mt-3 flexrow">
                        @if (entrada.FechaHasta == null) {
                            <label class="form-label fontInformeApartado"> · @entrada.PuestoTrabajo en @entrada.EmpresaAsociada</label>
                            <label class="form-label ms-2"> - @entrada.FechaDesde.ToShortDateString() a Actualidad - </label>
                        } else {
                            <label class="form-label fontInformeApartado"> · @entrada.PuestoTrabajo en @entrada.EmpresaAsociada</label>
                            <label class="form-label ms-2">@entrada.FechaDesde.ToShortDateString() a @entrada.FechaHasta.ToShortDateString()</label>
                        }
                        @if (entrada.Observaciones != "") {
                            <label class="form-label fontInforme ms-2">@entrada.Observaciones</label>
                        }
                    </div>
                }
            }
            @if (Model.ListaFormacionCV.Count > 0) {
                <div class="row mt-5 flexrow">
                    <h2 class="fontInformeTitulos fw-bold">Formación Académica</h2>
                </div>
                <hr />
                foreach (FormacionCV formacion in Model.ListaFormacionCV) {
                    <div class="row mt-3 flexrow">
                        @{
                            DateTime fechaDesde;
                            if (formacion.FechaDesde == null) {
                                fechaDesde = DateTime.Now;
                            } else {
                                fechaDesde = Convert.ToDateTime(formacion.FechaDesde);
                            }
                        }
                        <label class="form-label fontInformeApartado"> · @formacion.Grado - @formacion.Ubicacion</label>
                        @if (formacion.FechaHasta == null) {
                            <label class="form-label">@fechaDesde.ToShortDateString() a Actualidad - </label>
                        } else {
                            <label class="form-label">@fechaDesde.ToShortDateString() a @Convert.ToDateTime(formacion.FechaHasta).ToShortDateString()</label>
                        }
                        @if(formacion.Descripcion != "") {
                            <label class="form-label fontInforme">@formacion.Descripcion</label>
                        }
                        
                    </div>
                }
            }
        </div>
    </div>
</body>



