@using CSACVM.Modelos.ViewModels
@model CSACVM.Modelos.ViewModels.CurriculumModelVM
<link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/css/jquery.imagesloader.css" />
<link rel="stylesheet" type="text/css" href="~/css/comunes.css" />
<form method="POST" enctype="multipart/form-data" id="formCurriculum" name="formCurriculum">
    <div class="row">
        <div class="row ">
            <label class="form-label fw-bold">Título Currículum</label>
            <input class="form-control w-50" type="text" asp-for="@Model.Titulo" />
            <input class="form-control w-50" type="text" asp-for="@Model.IdCurriculum" hidden />
        </div>
        <hr class="mt-3"/>
        <div class="row">
            <div class="accordion" id="accordionCurriculum">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderUsuario">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsuario"
                                aria-expanded="true" aria-controls="collapseUsuario">
                            Información del Usuario
                        </button>
                    </h2>
                    <div id="collapseUsuario" class="accordion-collapse" aria-labelledby="accHeaderUsuario" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-2 d-flex align-items-center justify-content-center" id="colImagenCV" data-type="image-model">
                                    @if (Model.Foto != "") {
                                        var ruta = "/ImagenPerfilCV/" + Model.Foto.Split("/")[2];
                                        <div class="divFotoNoBorder foto-message d-flex justify-content-center form-group" id="divFotoCV">
                                            <label for="files" data-type="imagesloader">
                                                <img class="tamImagen" src="@ruta"><input type="file" id="files" name="fotoCurriculum" accept=".jpg,.jpeg,.png" />
                                            </label>
                                        </div>
                                    } else {
                                        <label class="divFoto foto-message d-flex justify-content-center align-items-center" id="divFotoCV" data-type="imagesloader">
                                            <input name="fotoCurriculum" id="files" type="file" accept=".jpg,.jpeg,.png" data-button=""/>
                                            Añadir Imagen
                                        </label>
                                    }
                                </div>
                                <div class="col-9">
                                    @*<div class="row mt-2">
                                        <h5>- Datos Personales -</h5>
                                    </div>*@
                                    <div class="row">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Nombre:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.Nombre" placeholder="Nombre" aria-required="true" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Primer Apellido:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.Apellido1" placeholder="Primer Apellido" aria-required="true" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Segundo Apellido:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.Apellido2" placeholder="Segundo Apellido" aria-required="true" />
                                        </div>
                                    </div>
                                    @*<div class="row mt-4">
                                        <h5>- Contacto -</h5>
                                    </div>*@
                                     <div class="row mt-3">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Teléfono:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.Telefono" placeholder="Telefono" aria-required="true" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Enlace:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.EnlaceContacto" placeholder="Enlace Contacto" aria-required="true" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Email:</label>
                                            <input class="form-control" asp-for="@Model.UsuarioCV.Email" placeholder="Email" aria-required="true" type="email" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                           @* <div class="row mt-3">
                                <h5>- Otros datos -</h5>
                            </div>*@
                            <div class="row mt-3">
                                <div class="col-4 pe-2">
                                    <label class="form-label fw-bold">Nacionalidad:</label>
                                    <input class="form-control" asp-for="@Model.UsuarioCV.Nacionalidad" placeholder="Nacionalidad" aria-required="true" />
                                </div>                    
                                <div class="col-4 pe-2">
                                    <label class="form-label fw-bold">Profesión:</label>
                                    <input class="form-control" asp-for="@Model.UsuarioCV.Profesion" placeholder="Profesion" aria-required="true" />
                                </div>
                                <div class="col-4 pe-2">
                                    <label class="form-label fw-bold">Fecha Nacimiento:</label>
                                    <input class="form-control" asp-for="@Model.UsuarioCV.FechaNacimiento" placeholder="Nacimiento" aria-required="true" type="date"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderFormacion">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFormacion"
                                aria-expanded="true" aria-controls="collapseFormacion">
                            Formación Académica
                        </button>
                    </h2>
                    <div id="collapseFormacion" class="accordion-collapse" aria-labelledby="accHeaderFormacion" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body" id="bodyFormacion">
                            @if (Model.ListaFormacionCV.Count > 0) {
                                var contadorInputs = 1;
                                foreach(FormacionCV formacion in Model.ListaFormacionCV) {
                                    <div class="container formacionContainerClass" id="formacionContainer_@contadorInputs">
                                        <div class="row">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Grado/Estudios:</label>
                                                <input class="form-control" placeholder="Grado" aria-required="true" name="gradoFormacion_@contadorInputs" id="gradoFormacion_@contadorInputs" value="@formacion.Grado"/>
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Ubicación:</label>
                                                <input class="form-control" placeholder="Ubicación" aria-required="true" name="ubicacionFormacion_@contadorInputs" id="ubicacionFormacion_@contadorInputs" value="@formacion.Ubicacion"/>
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Observaciones:</label>
                                                <input class="form-control" placeholder="Observaciones" aria-required="true" name="observacionesFormacion_@contadorInputs" id="observacionesFormacion_@contadorInputs" value="@formacion.Descripcion" />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Desde:</label>
                                                <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeFormacion_@contadorInputs" id="fechaDesdeFormacion_@contadorInputs" asp-for="@formacion.FechaDesde"/>
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Hasta:</label>
                                                <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaFormacion_@contadorInputs" id="fechaHastaFormacion_@contadorInputs" asp-for="@formacion.FechaHasta" />
                                            </div>
                                        </div>
                                        <div class="row mt-3"> 
                                            <div class="col-4">
                                                <button class="btn btn-primary btnRemoveFormacion" onclick="removeFormacion(@contadorInputs)" name="btnSubFormacion" id="btnSubFormacion"><i class="fas fa-minus me-3"></i>Quitar Formación</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <hr id="hrFormacion_@contadorInputs">
                                    contadorInputs++;
                                }
                            } else {
                                <div class="container formacionContainerClass" id="formacionContainer_1">
                                    <div class="row">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Grado/Estudios:</label>
                                            <input class="form-control" placeholder="Grado" aria-required="true" name="gradoFormacion_1" id="gradoFormacion_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Ubicación:</label>
                                            <input class="form-control" placeholder="Ubicación" aria-required="true" name="ubicacionFormacion_1" id="ubicacionFormacion_1"/>
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Observaciones:</label>
                                            <input class="form-control" placeholder="Observaciones" aria-required="true" name="observacionesFormacion_1" id="observacionesFormacion_1" />
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Desde:</label>
                                            <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeFormacion_1" id="fechaDesdeFormacion_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Hasta:</label>
                                            <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaFormacion_1" id="fechaHastaFormacion_1"/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <button class="btn btn-primary btnRemoveFormacion" onclick="javascript:void(0);" name="btnSubFormacion" disabled><i class="fas fa-minus me-3"></i>Quitar Formación</button>
                                        </div>
                                    </div>
                                </div>
                                <hr id="hrFormacion_1">   
                            }
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="btn btn-primary w-50" href="javascript:addFormacion();" id="btnAddFormacion"><i class="fa-solid fa-plus me-3"></i>Añadir Formación</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderIdioma">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdioma"
                                aria-expanded="true" aria-controls="collapseIdioma">
                            Idiomas
                        </button>
                    </h2>
                    <div id="collapseIdioma" class="accordion-collapse" aria-labelledby="accHeaderIdioma" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body" id="bodyIdioma">
                            @if (Model.ListaIdiomaCV.Count > 0) {
                                var contadorIdioma = 1;
                                foreach (IdiomaCV idioma in Model.ListaIdiomaCV) {
                                    <div class="container idiomaContainerClass" id="idiomaContainer_@contadorIdioma">
                                        <div class="row">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Descripción/Título:</label>
                                                <input class="form-control" placeholder="Descripción" aria-required="true" name="descripcionIdioma_@contadorIdioma" id="descripcionIdioma_@contadorIdioma" value="@idioma.Descripcion" />
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Nivel:</label>
                                                <input class="form-control" placeholder="Nivel" aria-required="true" name="nivelIdioma_@contadorIdioma" id="nivelIdioma_@contadorIdioma" value="@idioma.Nivel" />
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Centro:</label>
                                                <input class="form-control" placeholder="Centro" aria-required="true" name="centroIdioma_@contadorIdioma" id="centroIdioma_@contadorIdioma" value="@idioma.Centro" />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Desde:</label>
                                                <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeIdioma_@contadorIdioma" id="fechaDesdeIdioma_@contadorIdioma" asp-for="@idioma.FechaDesde" />
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Hasta:</label>
                                                <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaIdioma_@contadorIdioma" id="fechaHastaIdioma_@contadorIdioma" asp-for="@idioma.FechaHasta" />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <button class="btn btn-primary btnRemoveIdioma" onclick="removeIdioma(@contadorIdioma)" name="btnSubIdioma" id="btnSubIdioma"><i class="fas fa-minus me-3"></i>Quitar Idioma</button>
                                            </div>
                                        </div>

                                    </div>
                                    <hr id="hrIdioma_@contadorIdioma">
                                    contadorIdioma++;
                                }
                            } else {
                                <div class="container idiomaContainerClass" id="idiomaContainer_1">
                                    <div class="row">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Descripción/Título:</label>
                                            <input class="form-control" placeholder="Descripción" aria-required="true" name="descripcionIdioma_1" id="descripcionIdioma_1"/>
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Nivel:</label>
                                            <input class="form-control" placeholder="Nivel" aria-required="true" name="nivelIdioma_1" id="nivelIdioma_1"/>
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Centro:</label>
                                            <input class="form-control" placeholder="Centro" aria-required="true" name="centroIdioma_1" id="centroIdioma_1"/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Desde:</label>
                                            <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeIdioma_1" id="fechaDesdeIdioma_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Hasta:</label>
                                            <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaIdioma_1" id="fechaHastaIdioma_1" />
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <button class="btn btn-primary btnRemoveIdioma" onclick="javascript:void(0);" name="btnSubIdioma" id="btnSubIdioma" disabled><i class="fas fa-minus me-3"></i>Quitar Idioma</button>
                                        </div>
                                    </div>
                                </div>
                                <hr id="hrIdioma_1">
                            }
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="btn btn-primary w-50" href="javascript:addIdioma();" id="btnAddIdioma"><i class="fa-solid fa-plus me-3"></i>Añadir Idioma</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderEntrada">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEntrada"
                                aria-expanded="true" aria-controls="collapseEntrada">
                            Experiencia Laboral
                        </button>
                    </h2>
                    <div id="collapseEntrada" class="accordion-collapse" aria-labelledby="accHeaderEntrada" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body" id="bodyEntrada">
                            @if (Model.ListaEntradaCV.Count > 0) {
                                var contadorEntrada = 1;
                                foreach (EntradaCV entrada in Model.ListaEntradaCV) {
                                    <div class="container entradaContainerClass" id="entradaContainer_@contadorEntrada">
                                        <div class="row">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Puesto trabajo:</label>
                                                <input class="form-control" placeholder="Puesto" aria-required="true" name="puestoTrabajo_@contadorEntrada" id="puestoTrabajo_@contadorEntrada" value="@entrada.PuestoTrabajo"/>
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Empresa Asociada:</label>
                                                <input class="form-control" placeholder="Empresa" aria-required="true" name="empresaAsociada_@contadorEntrada" id="empresaAsociada_@contadorEntrada" value="@entrada.EmpresaAsociada"/>
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Ubicación:</label>
                                                <input class="form-control" placeholder="Ubicación" aria-required="true" name="ubicacionEntrada_@contadorEntrada" id="ubicacionEntrada_@contadorEntrada" value="@entrada.Ubicacion"/>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col pe-2">
                                                <label class="form-label fw-bold">Observaciones:</label>
                                                <textarea class="form-control" rows="2" name="observacionesEntrada_@contadorEntrada" id="observacionesEntrada_@contadorEntrada" asp-for="@entrada.Observaciones"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Desde:</label>
                                                <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeEntrada_@contadorEntrada" id="fechaDesdeEntrada_@contadorEntrada" asp-for="@entrada.FechaDesde" />
                                            </div>
                                            <div class="col-4 pe-2">
                                                <label class="form-label fw-bold">Fecha Hasta:</label>
                                                <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaEntrada_@contadorEntrada" id="fechaHastaEntrada_@contadorEntrada" asp-for="@entrada.FechaHasta" />
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-4">
                                                <button class="btn btn-primary btnRemoveEntrada" onclick="removeEntrada(@contadorEntrada)" name="btnSubEntrada" id="btnSubEntrada"><i class="fas fa-minus me-3"></i>Quitar Experiencia</button>
                                            </div>
                                        </div>

                                    </div>
                                    <hr id="hrEntrada_@contadorEntrada">
                                    contadorEntrada++;
                                }
                            } else {
                                <div class="container entradaContainerClass" id="entradaContainer_1">
                                    <div class="row">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Puesto trabajo:</label>
                                            <input class="form-control" placeholder="Puesto" aria-required="true" name="puestoTrabajo_1" id="puestoTrabajo_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Empresa Asociada:</label>
                                            <input class="form-control" placeholder="Empresa" aria-required="true" name="empresaAsociada_1" id="empresaAsociada_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Ubicación:</label>
                                            <input class="form-control" placeholder="Ubicación" aria-required="true" name="ubicacionEntrada_1" id="ubicacionEntrada_1" />
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col pe-2">
                                            <label class="form-label fw-bold">Observaciones:</label>
                                            <textarea class="form-control" rows="2" name="observacionesEntrada_1" id="observacionesEntrada_1"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Desde:</label>
                                            <input class="form-control" placeholder="Desde" aria-required="true" type="month" name="fechaDesdeEntrada_1" id="fechaDesdeEntrada_1" />
                                        </div>
                                        <div class="col-4 pe-2">
                                            <label class="form-label fw-bold">Fecha Hasta:</label>
                                            <input class="form-control" placeholder="Hasta" aria-required="true" type="month" name="fechaHastaEntrada_1" id="fechaHastaEntrada_1" />
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-4">
                                            <button class="btn btn-primary btnRemoveEntrada" onclick="javascript:void(0);" name="btnSubEntrada" id="btnSubEntrada" disabled><i class="fas fa-minus me-3"></i>Quitar Experiencia</button>
                                        </div>
                                    </div>
                                </div>
                                <hr id="hrEntrada_1">
                            }
                            <div class="row mt-3">
                                <div class="col-4">
                                    <a class="btn btn-primary w-50" href="javascript:addEntrada();" id="btnAddEntrada"><i class="fa-solid fa-plus me-3"></i>Añadir Experiencia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderAptitud">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAptitud"
                                aria-expanded="true" aria-controls="collapseAptitud">
                            Aptitudes / Habilidades
                        </button>
                    </h2>
                    <div id="collapseAptitud" class="accordion-collapse" aria-labelledby="accHeaderAptitud" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body" id="bodyAptitud">
                            @if (Model.ListaAptitudCV.Count > 0) {

                            } else {
                                
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="accHeaderLogro">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLogro"
                                aria-expanded="true" aria-controls="collapseLogro">
                            Logros
                        </button>
                    </h2>
                    <div id="collapseLogro" class="accordion-collapse" aria-labelledby="accHeaderLogro" data-bs-parent="#accordionCurriculum">
                        <div class="accordion-body" id="bodyLogro">
                            @if(Model.ListaLogroCV.Count > 0){
                                
                            }else{

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-end mt-4">
            <div class="col-lg-3 col-md-3 col-sm-4 text-end">
                <button class="btn btn-success bg-verde font-size-l btn-w-solicitud" formmethod="post" onclick="CargarFotos()"><i class="fa-solid fa-floppy-disk me-2"></i>GUARDAR CAMBIOS</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/js/jquery.imagesloader-1.0.1.js"></script>
<script type="text/javascript" src="~/js/Curriculum/curriculum.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/datatables.min.js" asp-append-version="true"></script>

